.chat-header {
    height: 4em; 
    background: #fff;

    .mdl-list__item-primary-content  {
        margin-left: 3%; 
        width: 100%; 

        i {
            margin-right: 11%; 
            margin-top: 1%; 
        }

        .partnerName {
            font-size: 3em; 
            display: inline-block; 
            margin-right: 3%; 
            width: 100px; 

            span {
                position: relative; 
                bottom: 5px; 
            }
        }

        .mdl-list__item-sub-title {
            color: #b0b1b2; 
            text-align: center; 
            position: relative; 
            bottom: 7px; 
        }
    }

    .cog {
        display: inline-block; 
        // margin-left: 30%;
        position: relative; 
        right: -3em; 
        bottom: 10px; 
        font-size: 25px; 
    }

}

//TODO
//Fix glyphicon cog
//change header color maybe
//add padding to top of message content
//try using react key generator
//look into immutable.js for redux
//add margin to top level component
//make site responsive
//make sure you can't send an empty message
